.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header {
  width: 100%;
  height: 200px;
  background-color: teal;
  text-align: center;
  border: 1px solid gray; /* Optional: only include if you want a border */
  border-radius: 1rem; /* Medium border-radius */
}
h1 {
  padding-top: 30px;
  font-size: 40px;
  font-family: cursive;
  color: #fffdd0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  text-align: center;
  flex: none;
  width: 25%;
  background-color: #c3dafe; /* Approximation of Tailwind's indigo-200 */
  height: 100%;
  border-radius: 1.5rem; /* Typically rounded-md is about 6px, adjust as needed */
  overflow: auto;
  border: 15px solid white; /* Adding a white border */
}

.halfCard {
  height: 50%; /* Sets height to 50% of the parent container */
  padding: 0.5rem; /* Sets padding around the element */
  display: flex; /* Necessary to enable justify-content and align-items */
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically */
  border-radius: 1.5rem; /* Typically rounded-md is about 6px, adjust as needed */
  overflow: auto;
  border: 10px solid white; /* Adding a white border */
}

.viewerCard {
  height: 70%; /* Sets height to 50% of the parent container */
  padding: 0.5rem; /* Sets padding around the element */
  display: flex; /* Necessary to enable justify-content and align-items */
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically */
  border-radius: 1.5rem; /* Typically rounded-md is about 6px, adjust as needed */
  overflow: auto;
  border: 10px solid white; /* Adding a white border */
}

.oneThirdCard {
  height: 30%; /* Sets height to 50% of the parent container */
  padding: 0.5rem; /* Sets padding around the element */
  display: flex; /* Necessary to enable justify-content and align-items */
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically */
  border-radius: 1.5rem; /* Typically rounded-md is about 6px, adjust as needed */
  overflow: auto;
  border: 10px solid white; /* Adding a white border */
}

.text {
  padding: 5px;
}

/* .coloredBlock {
  box-shadow: 0 4px 8px 0 rgba(224, 18, 18, 0.3);
  text-align: center;
  display: flex;
  flex-grow: 1;
} */

/* 

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template:
    "header  header"
    "sidebar main"   1fr
    "footer  footer" min-content
    / 250px   1fr;
}

.transparent-div {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.rounded-div {
  border: 2px solid #007BFF;
  border-radius: 15px;
}

.shadow-div {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-styled-div {
  font-family: 'Roboto', sans-serif;
  color: #333;
  text-align: center;
  padding: 20px;
}
.hover-div:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .responsive-div {
    padding: 10px;
  }
}
 */
